.search-box {
  display: flex;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

input {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  padding: 10px;
  outline: none;
}

button {
  background: #4facfe;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: #00f2fe;
}